.recommend_title {
	position: relative;
	padding-left: 9px;
	margin: 14px 0;
	font-size: 17px;
	height: 20px;
	line-height: 20px;
}
.recommend_title:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    width: 2px;
    height: 16px;
    background-color: #d33a31;
}
.recommend_content_newsg,
.recommend_content_songs {
    padding: 0 .1rem;
}
.recommend_content_songs ul li {
	display: block;
    float: left;
    width: 33.3%;
    padding-left: 1px;
    padding-right: 1px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.recommend_content_songs ul li a {
    display: block;
    width: 100%;
    color: #333;
}
.recommend_content_songs ul li p {
    padding: 6px 2px 0 6px;
    font-size: 13px;
    display: -webkit-box;
     /* autoprefixer: off */
   -webkit-box-orient: vertical; 
  /* autoprefixer: on */
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.picUrl {
	position: relative;
    padding-bottom: 100%;
}
.picUrl img {
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 5px;
}
.recommend_content_newsg ul li {
	padding: 6px 0;
	padding-left: 10px;
	border-bottom: .01rem solid #ebecec;
}
.f-thide {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: normal;
}
.sgtl {
    font-size: 17px;
}
.sgtl span {
    color: #888;
    margin-left: 4px;
}
.sginfo {
    font-size: 12px;
    color: #888;
}