.login-form {
	padding:.15rem;
}
.login-form-input input {
	width: 100%;
	border:none;
	outline: none;
	padding: .2rem;
	border-bottom: .01rem solid #e6e6e6;
	font-size: 14px;
}
.login-form-btn a {
	display: inline-block;
	width: 100%;
	height: .8rem;
	text-align: center;
	line-height: .8rem;
	background: #d43c33;
	font-size: 14px;
	color: #fff;
	border-radius: .05rem;
	margin-top: .5rem;
}